<div class="flex gap-2 items-center">
	<div class="text-[18px] font-semibold flex rounded-md items-center justify-center text-white bg-[#DC323C] w-[45px] h-[50px]">826</div>
	<div class="text-[18px] font-semibold">:</div>
	<div class="text-[18px] font-semibold flex rounded-md items-center justify-center text-white bg-[#DC323C] w-[45px] h-[50px]">29</div>
	<div class="text-[18px] font-semibold">:</div>
	<div class="text-[18px] font-semibold text-white rounded-md bg-[#DC323C] flex items-center justify-center w-[45px] h-[50px]">20</div>
	<div class="text-[18px] font-semibold">:</div>
	<div class="text-[18px] flex items-center justify-center rounded-md font-semibold text-white bg-[#DC323C] w-[45px] h-[50px]">08</div>
</div>
